<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ShareMapper">

    <sql id="Base_Column_List">
        id,name,file_id,share_time,end_time,count,user_id,code,type
    </sql>

    <select id="selectAll" resultType="com.example.entity.Share">
        select
        share.*, user.name as userName
        from share
        left join user
        on share.user_id = user.id
        <where>
            <if test="name != null"> and share.name like concat('%', #{name}, '%')</if>
        </where>
        order by share.id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Share">
        select
        <include refid="Base_Column_List" />
        from share
        where id = #{id}
    </select>

    <select id="selectByCode" resultType="com.example.entity.Share">
        select
        <include refid="Base_Column_List" />
        from share
        where code = #{code}
    </select>

    <delete id="deleteById">
        delete from share
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Share" useGeneratedKeys="true" keyProperty="id">
        insert into share
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="fileId != null">file_id,</if>
            <if test="shareTime != null">share_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="count != null">count,</if>
            <if test="userId != null">user_id,</if>
            <if test="code != null">code,</if>
            <if test="type != null">type,</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="fileId != null">#{fileId},</if>
            <if test="shareTime != null">#{shareTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="count != null">#{count},</if>
            <if test="userId != null">#{userId},</if>
            <if test="code != null">#{code},</if>
            <if test="type != null">#{type},</if>

        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Share">
        update share
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="fileId != null">
                file_id = #{fileId},
            </if>
            <if test="shareTime != null">
                share_time = #{shareTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="count != null">
                count = #{count},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="code != null">
                code = #{code},
            </if>

            <if test="type != null">
                type = #{type},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>